body {
    background-color: #F2F2F2;
}

section {
    display: flex;
    width: 1400px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 50px;
    
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h2 { 
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    background-color: #ccc;
    width: 590px;
    height: auto;
    flex-direction: column;
}

.one {
    display: flex;

}

.image-res {width: 535px;
    height: 100%;
}

.icon-size {width: 35px;
height: 35px;
margin-right: 25px;
}
